CompileFlags:
  Add:
    - -xc
    - -Wall
    - -WX
    - -Wno-pragma-pack
    - -Wno-unused-function
    - -Wno-unknown-pragmas
    - -std=c23
    - --target=x86_64-pc-windows-gcc

    - "-IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um/full"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/build/WIN_UM/headers"
    - "-ID:/ax_project/ax_virt_layer/win64/type_2/src"

    - "-DAX_WIN64"
    - "-DAX_UM"
Diagnostics:
  Suppress:
    - "unused-includes"
